[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "gumbo-parser"]
	path = gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "lexbor"]
	path = lexbor
	url = https://github.com/lexbor/lexbor.git
